<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% @todos.each do |a_todo| %>
        <li><%= a_todo.title %></li>
    <% end %>
    </ul>
</body>
</html>